[submodule "my-site/themes/ananke"]
	path = my-site/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "my-site/themes/hugo-coder"]
	path = my-site/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
